{
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "only-multiline"
      }
    ],
    "semi": ["error", "always"],
    "quotes": ["error", "single"]
  },
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
