.container.generator
    h1.title Pseudorandom Numbers Generator

    form.form
        .form-item#item-min
            input#min(placeholder="Please input min value" required)
            p.err-min
        .form-item#item-max
            input#max(placeholder="Please input max value" required)
            p.err-max
        .form-item#item-amount
            input#amount(placeholder="Please input amount of numbers" required)
            p.err-amount

        .btn-container
            input#clear.btn.submit(type="submit" value="Generate")
            button.btn.clear Clear