$important: #ff3d00;
$btn-background: #f7f7f7;
$btn-hover: #e7e7e7;
// $accent-1: #67b2d2;
// $accent-2: #f7f7f7;

$accent-1: #232946;
$accent-2: #b8c1ec;

$breakpoint-sm: 320px;
$breakpoint-md: 768px;
